/* wrapper */
.container > .wrapper{
    border-radius: inherit;
    max-width: 100%;
    position: relative;
    vertical-align: top
    }
    .container > .wrapper > .inner{
    border-radius: inherit;
    max-width: 100%;
    position: relative;
    text-align: var(--alignment);
    vertical-align: top}
